<!DOCTYPE html>
<html>

<head>
        <link rel="icon" href="/templetes/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h1>{{title}}</h1>

    <p>This page is created by {{name}}.</p>

</body>

</html>