<!DOCTYPE html>
<html>

<head>
        <link rel="icon" href="/templetes/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h1>{{gethelp}}</h1>

    <p>This is the page.</p>

</body>

</html>