<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="web server/templetes/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <h1>{{forecast}}</h1>

    <p>Location is {{location}}.</p>

</body>

</html>